<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.busapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/buspainting"
        android:label="BUS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".administratorActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="구글키" />

        <activity android:name=".studentSuggestionActivity" />
        <activity android:name=".studentBookMangerActivity" />
        <activity android:name=".drivermangerDataActivity" />
        <activity android:name=".studentNFCActivity" />
        <activity android:name=".driverSuggestionsActivity" />
        <activity android:name=".studentBookActivity" />
        <activity android:name=".adRideDataActivity" />
        <activity android:name=".driverBookActivity" />
        <activity android:name=".studentMapActivity" />
        <activity
            android:name=".DriverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".studentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppMembershipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>