<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.busapplication">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 권한 선언 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@drawable/buspainting"
        android:label="BUS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity">
        <activity android:name=".adDriverActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".adStudentStatsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".adStudentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".driverReservationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adReservationActivity"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".administratorActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value= "AIzaSyDCxLuzlCJIjwi2ugmyD9AlGmHSVgrbq1k" />

        <activity
            android:name=".adListBUSActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".adStudentDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".studentSuggestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".studentBookMangerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drivermangerDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driverSuggestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".studentBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adRideDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driverBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".studentMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adBusDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adMapListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adNFCNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adNoticeAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adNoticeDelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adTotalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adManagerDriActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".DriverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".studentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppMembershipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
    </application>

</manifest>